<h1>Stupid Coaching</h1>
<p>Ask your toxic-ass coach something</p>
<div class="search-form-control form-group">
  <form action="/answer">
    <input class="form-control" type="text" name="question" placeholder="For example: why you such a dick?">
    <input type="submit" value="Ask!" class="btn">
  </form>
</div>
<p><%= @ask %></p>
